<%- include('../partials/header') %>

<% if (carts[0].products.length) {%>
<table class="highlight">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Remove Item</th>
        </tr>
    </thead>
    <tbody>
        <% carts[0].products.forEach(function(i) { %>
            <tr>
                <td><%= i.name %></td>
                <td>$<%= (i.price / 100).toFixed(2)  %></td>
                <td><%= i.quantity %></td>
                <td><form action="/cart/<%=i.productId%>?_method=DELETE" method="POST">
                    <button type="submit">Remove</button>
                  </form></td>
             </tr>
        <% }); %>
    </tbody>
    <table class="highlight">
        <thead>
            <tr>
                <th>total</th>
                
            </tr>
        </thead>
        <tbody>
            <% carts.forEach(function(i) { %>
                <tr>
                    <td>$<%= (i.total / 100).toFixed(2)%></td>
                    <td><form action="/cart?_method=DELETE" method="POST">
                        <button type="submit">Check Out</button>
                      </form></td>
                </tr>
            <% }); %>
        </tbody>
        

<% } else { %>
    <h2>No items in Cart</h2>
<% } %>
<%- include('../partials/footer') %>