<%- include('../partials/header') %>

<% if (carts[0].products.length) {%>
<div class="productBox">
<table class="highlight centered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Remove Item</th>
        </tr>
    </thead>
    <tbody>
        <% carts[0].products.forEach(function(i) { %>
            <tr>
                <td><%= i.name %></td>
                <td>$<%= (i.price / 100).toFixed(2)  %></td>
                <td><%= i.quantity %></td>
                <td><form action="/cart/<%=i.productId%>?_method=DELETE" method="POST">
                    <button type="submit">Remove</button>
                  </form></td>
             </tr>
        <% }); %>
    </tbody>
</table>
    <% const total = carts[0].products.reduce((acc, product) => { return acc + (product.price * product.quantity) }, 0);%>
    <div class="right">
        <p> Total is: $<%= (total / 100).toFixed(2)%></p>
        <form action="/cart?_method=DELETE" method="POST">
            <button class="waves-effect waves-light btn" type="submit">Check Out</button>
        </form>
    </div>
</div>
<% } else if (carts.length) { %>
<h2 class="center">No items in Cart, please add items to Cart</h2>
<% } else {%>
<h2 class="center">No items in Cart, please add items to Cart</h2>
<% } %>
<%- include('../partials/footer') %>