<%- include('../partials/header') %>
 <h1 class="center">Marketplace</h1>
<div class="productBox">
 
    <% products.forEach(function(i) { %>
        <form class="left" id="add-i-to-cart" action='/cart' method="POST">
            <input type="hidden" name="product" value="<%= i.productId %>"/>
            <input type="hidden" name="price" value="<%= i.price %>"/>
            <input type="hidden" name="name" value="<%= i.name %>"/>
            <ul id="products">
                <li class="center"><h5><a href="/products/<%= i._id %>"><%= i.name %></a></h5>
                </li>
                <li><a href="/products/<%= i._id %>"><img width="225" height="200" src="<%= i.imageUrl %>"/></a>
                </li>
                <li class="center">Price: $<%= (i.price / 100).toFixed(2)  %></li>
                <li class="center">
                    <div class="input-field">
                    <select name="quantity">
                        <option selected value=1>1</option>
                        <option value=2>2</option>
                        <option value=3>3</option>
                        <option value=4>4</option>
                        <option value=5>5</option>
                        <option value=6>6</option>
                         </select>     
                        <label>Quantity</label>
                     </div>
                     <button class="btn-floating btn-large waves-effect waves-light green" type="submit"><i class="material-icons">add_shopping_cart</i></button>
                </li>
            </ul>

        </form>       
    <% }); %>
 
 
</div>
<script> document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('select');
    var instances = M.FormSelect.init(elems, {});
  });</script>
<%- include('../partials/footer') %>