<%- include('../partials/header') %>
<div>
  <h1>Products</h1>
    <% products.forEach(function(i) { %>
        <form id="add-i-to-cart" action='/cart' method="POST">
            <ul>
                <li>><a href="/products/<%= i._id %>"><%= i.name %></a>
                </li><br>
                <li>><a href="/products/<%= i._id %>"></a><img src="<%= i.imgUrl %>"/></a>
                </li><br>
                <li>Price: $<%= (i.price / 100).toFixed(2)  %></li><br>
                <li>
                    <div class="input-field col s12">
                    <select name="quantity">
                        <option selected value=1>1</option>
                        <option value=2>2</option>
                        <option value=3>3</option>
                        <option value=4>4</option>
                        <option value=5>5</option>
                        <option value=6>6</option>
                         </select>     
                        <label>Quantity</label>
                    </div>                   
                </li><br><br><br>
                <li>
                    <input type="hidden" name="product" value="<%= i.productId %>"/>
                    <input type="hidden" name="price" value="<%= i.price %>"/>
                    <input type="hidden" name="name" value="<%= i.name %>"/>
                    <input type="submit" value="Add Product">
                    <a href="/products/<%= i._id %>">Details</a>
                </li>
                
            </ul><br>

        </form>       
    <% }); %>
 
  <a href="/products/new">Add new item</a>
</div>
<script> document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('select');
    var instances = M.FormSelect.init(elems, {});
  });</script>
<%- include('../partials/footer') %>